.frameChild {
  position: absolute;
  top: 7.81rem;
  left: 13.81rem;
  width: 45.1rem;
  height: 18.97rem;
}
.heyUser {
  margin: 0;
}
.heyUserHowContainer1 {
  line-break: anywhere;
  width: 100%;
}
.heyUserHowContainer {
  position: absolute;
  top: 11.63rem;
  left: 16.63rem;
  display: flex;
  align-items: center;
  width: 16.88rem;
  height: 4.19rem;
}
.vectorParent {
  position: absolute;
  top: -7.81rem;
  left: -13.81rem;
  width: 45.1rem;
  height: 18.97rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
